{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Users</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.verified %}
            <tr>
                <td>{{ user.business_name }} | {{ user.email }}</td>
                <td><a href="">Approve</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}