{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1>C-Sign In</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Modular, stress free covid sign in</h2>
    </div>
</header>
<section class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Much modules such efficient!</h2>
        <div class="row" style="padding: 40px;">
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-1">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><span>Keep your data.</span></div>
                    </div><img class="img-fluid" src="static/img/portfolio/cabin.png"></a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-2">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><span>Serve your menu.</span></div>
                    </div><img class="img-fluid" src="static/img/portfolio/cake.png"></a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-3">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">Privacy law compliant.</div>
                    </div><img class="img-fluid" src="static/img/portfolio/circus.png"></a>
            </div>
        </div>
    </div>
</section>
<section id="about" class="bg-primary text-white mb-0">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">Why C-sign?</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Want to be able to redirect the people you sign in to your menu, ordering or info page straight away without having them scan another 10 QR codes? Well, we got ya!</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">C-Sign makes it easy to get the information into your customers hands. We provide you with a QR code as soon as you sign up and you have access to your data whenever you want it.</p>
            </div>
        </div>
        <div class="text-center mt-4"><a class="btn btn-outline-light btn-xl" role="button" href="{{ url_for('users.register') }}"><i class="fa fa-check mr-2"></i><span>Sign Up Now!</span></a></div>
    </div>
</section>
{% endblock content %}
