<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="{{ url_for('main.home') }}">C-Sign In</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a id="contact" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('main.contact') }}">Contact Us</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.admin %}
                        <li class="nav-item mx-0 mx-lg-1"><a id="account" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin">Admin</a></li>
                    {% endif %}
                    <li class="nav-item mx-0 mx-lg-1"><a id="account" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('users.account') }}">Account</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a id="register" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('users.register') }}">Register</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a id="login" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('users.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>