API_SECRET_KEY=testapikey
SECRET_KEY=testkey
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://csign-test:testpassword1@db/csign-test
DOCKER_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://csign-test:testpassword1@db/csign-test
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
S3_FOLDER = 'static/'
TEST_PASSWORD=123456
FLASK_APP=run.py
POSTGRES_USER=csign-test
POSTGRES_PASSWORD=testpassword1
POSTGRES_DB=csign-test